/* Variables */
:root {
--main-font: 'Share Tech Mono', monospace;
--darkgray: #201E1F;
}

/* Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    background-color: black;
    color: white;
    font-family: var(--main-font);
}

/* Styles */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    margin: 50px 0 30px;
    font-size: 38px;
    text-shadow: 1px 1px 5px var(--darkgray);
}


#cipherText,
#decipherText {
    padding: 3px;
    grid-row: 2 / 3;
    font-size: 22px;
}

#cipherText:focus,
#decipherText:focus {
    outline: 0;
}

#cipherButton,
#decipherButton {
    padding: 5px 15px;
    grid-row: 3 / 4;
    justify-self: center;
    background-color: var(--darkgray);
    border: 1px solid darkgray;
    font-family: var(--main-font);
    font-size: 22px;
    text-align: center;
    color: white;
    cursor: pointer;
}

#cipherOutput,
#decipherOutput {
    width: 100%;
    height: 50px;
    grid-row: 4 / 5;
    font-size: 22px;
    text-align: center;
}

.selections {
    padding-bottom: 20px;
}

.selections button {
    width: 120px;
    height: 50px;
    font-size: 22px;
    color: white;
    cursor: pointer;
}

.cipher-container,
.decipher-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 10px;
}

.cipher-box,
.decipher-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* Styles used in script.js to highlight selection */
.selected {
    background-color: var(--darkgray);
    border: 1px solid darkgray;
    box-shadow: 0 0 10px rgb(118, 118, 118);
}

.unselected {
    background-color: black;
    border: 1px solid darkgray;
    opacity: 0.25;
}

.hide {
    display: none;
}

@media only screen and (min-width: 535px) {
    .cipher-box,
    .decipher-box {
        flex-direction: row;
    }
}